	page {
		box-sizing: border-box;
		-webkit-overflow-scrolling: touch;
	}

	/* 引用了自定义titleBar之后需要padding-top */

	.p-top {
		padding-top: calc(var(--status-bar-height));
	}

	._content {
		min-height: calc(100vh - 88upx);
		background: #f4f4f4;
		box-sizing: border-box;
		padding: 1px;
		padding-top: var(--status-bar-height);
		margin-top: 88upx;
	}

	.eee {
		background: #eee;
	}

	.fff {
		background: #fff;
	}

	/* 使用伪类模仿border  */
	.border-bottom-after::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: #eee;
		position: absolute;
		left: 0;
		bottom: 0;
		transform: scaleY(0.5);
	}

	button::after {
		border: 0;
	}

	image {
		max-width: 100%;
	}

	/*每个页面公共css */

	.flex-wrap {
		flex-wrap: wrap;
	}

	.flex-nowrap {
		flex-wrap: nowrap;
	}

	.flex-row {
		display: flex;
		flex-direction: row;
	}

	.flex-col {
		display: flex;
		flex-direction: column;
	}

	.justify-content-around {
		justify-content: space-around;
	}

	/* 外边距30 常见根box */

	.m-30 {
		margin: 30upx;
		box-sizing: border-box;
	}

	.mbt-20 {
		margin-top: 20upx;
		margin-bottom: 20upx;
	}


	button.button-hover {
		opacity: 0.8;
	}

	/* 文本溢出 */

	.hide-text-1 {
		display: -webkit-box !important;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
	}

	.hide-text-2 {
		display: -webkit-box !important;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}

	.hide-text-3 {
		display: -webkit-box !important;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}

	/* 隔断 */

	.partation {
		width: 100%;
		height: 1upx;
		background: #f4f4f4;
		transform: scaleY(0.5);
	}

	.partation-30 {
		width: 100%;
		height: 20upx;
		background: #f4f4f4;
		box-sizing: border-box;
	}

	.mlr-30 {
		margin: 0 30upx;
		width: calc(100% - 60upx);
	}

	/* 常用标题 */

	.title_1 {
		justify-content: space-between;
		align-items: center;
		height: 100upx;
		padding: 0 30upx;
	}

	.title_1 .left {
		font-size: 30upx;
		color: #333;
		/* font-weight: 500; */
	}

	.title_1 .center {
		font-size: 30upx;
		color: #666;
		margin: 0 auto 0 30upx;
	}

	.title_1 .center.width-90 {
		width: 60% !important;
	}

	.title_1 .center.width-70 {
		width: 70% !important;
	}

	.title_1 .center.width-70- {
		width: calc(70% - 36upx) !important;
	}

	.title_1 .right text {
		font-size: 26upx;
		color: #999;
	}

	.title_1 image {
		width: 36upx;
		height: 36upx;
		display: block;
	}

	.content {
		min-height: 100vh;
		background: #fff;
	}

	// 遮罩层
	.plane {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		transition: all .2s;
	}

	.plane.active {
		z-index: 999;
		animation-delay: .3s;
	}

	.plane-close {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0%;
		top: 0;
		background: rgba(0, 0, 0, .6);
		z-index: 0;
		transition: all .3s;
		opacity: 0;
	}
	.plane-close{
		opacity: 1
	}

	.plane-content {
		background: #fff;
		border-radius: 5upx;
		position: relative;
		z-index: 1;
	}